<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/team.css">
</head>
<style>
    
</style>
<body>
    
<div class="maincontainer">
    <div class="content">

                <div class="navcontainer">
                    <div class="navbody">
                        <div>
                            <a href="../index.html"><img class="logo" src="../assets/logo2.png"/></a>
                        </div>
                        <div class="navright">
                            <ul class="navitems">
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Technologies</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                            <button class="navbutton" onclick="location.href='contact.html';">Contact Us</button>
                        </div>
                    </div>
                </div>


                                                  <!---------------      Hero Section starts             -->

                <div class="teamcontainer">
                    <div class="teambody">
                            <h2> Our Team</h2>
                            <h1>Players</h1>
                            <h3>Go ahead, immerse yourself in our world.</h3>            
                    </div>
                </div>
                <div class="teamimg"></div>

                                                <!---------------      Hero Section ends             -->



                                                                                  <!---------------      Hero Section starts             -->

                                <div class="teamcontainer2">
                                    <div class="teambody2">
                                       <h2>Vision</h2>
                                       <p >
                                        At the heart of our company lies a shared vision that 
                                        drives us forward. We believe in the power of collaboration, where every team member brings their unique expertise and passion to the table. Together, we strive 
                                        to push the boundaries of innovation, crafting solutions 
                                        that not only meet but exceed the expectations of our 
                                        clients. Our vision is to create a future where technology and creativity converge, delivering excellence 
                                        through teamwork and a unified purpose.</p>
                                    </div>
                                </div> <div class="teamimage2"> <img src="../assets/team2img.png"></div>

                                <!---------------      Hero Section ends             -->


                                                                <!---------------      team3 Section starts             -->

                                                                <div class="teamcontainer3">
                                                                    <div class="teambody3">
                                                                       <h2> Art of Making shine</h2>
                                                                        <p>Our team is dedicated to mastering this art, carefully 
                                                                        crafting each project with the same attention to detail and passion that goes into 
                                                                        making the finest diamonds. We take pride in our ability to turn complex ideas 
                                                                        into seamless, elegant solutions that not only meet technical requirements but also 
                                                                        resonate with beauty and functionality. With every line of code and every design choice, 
                                                                        we aim to make our work shine, reflecting our commitment to quality and innovation.Where every 
                                                                        expert hand contributes to a team effort of brilliance. We merge the raw beauty of nature with our 
                                                                        collective expertise, crafting diamonds that reflect our commitment to excellence and the highest standards. 
                                                                        This is not just our work—it is our passion, our style, and our promise. 
                                                                        </p>
                                
                                                        
                                                                      </div>
                                                                </div>
                                                                <div class="teamimg3"><img src="../assets/team3img.png">
                                                                </div>
                                                                                        <!---------------      team3 Section ends             -->
                                
                                                                                        
                                                                                        <!---------------      team4 Section starts             -->

                                                                                        <div class="teamcontainer4">
                                                                                            <div class="teambody4">
                                                                                               <h2>Crafting Brilliance</h2>
                                                                                               <h1> Unveiling the Art of </br>
                                                                                                Masterpiece!! </h1>
                                                                                               <p >

                                                                                                Where every expert hand contributes to a team effort of brilliance. We merge the raw beauty of nature with our collective expertise, 
                                                                                                crafting diamonds that reflect our commitment to excellence and the highest standards. 
                                                                                                This is not just our work—it is our passion, our style, and our promise. </p>
                                                                                            </div>
                                                                                            
                                                                                        </div>                                <div class="teamimage4"> <img src="../assets/team4img.png"></div>
                                                        
                                                                                        <!---------------      team4 Section starts             -->
                                                                                        <div class="TeamA">
                                                                                            <section class="left-section">
                                                                                                <section class="left-section">
                                                                                                <div class="teamheader">  <h1>OUR TEAM<br>PLAYERS</h1></div>                                                                                            <div class="controls">
                                                                                                    <button id="prev-button" class="button-svg1">
                                                                                                        <img src="../assets/new-button.svg" alt="Previous">
                                                                                                    </button>
                                                                                                    <button id="next-button" class="button-svg2">
                                                                                                        <img src="../assets/newbutton2.svg" alt="Next">
                                                                                                    </button>
                                                                                                </div>
                                                                                            </section>
                                                                                        
                                                                                            <section class="right-section">
                                                                                                <div class="cards-container">
                                                                                                    <div class="cards">
                                                                                                        <article class="card">
                                                                                                            <img src="../assets/team1.jpg" alt="Team Member 1">
                                                                                                        </article>
                                                                                                        <article class="card">
                                                                                                            <img src="../assets/team2.jpg" alt="Team Member 2">
                                                                                                        </article>
                                                                                                        <article class="card">
                                                                                                            <img src="../assets/team3.jpg"alt="Team Member 3">
                                                                                                        </article>
                                                                                                        <article class="card">
                                                                                                            <img src="../assets/team4.jpg" alt="Team Member 4">
                                                                                                        </article>
                                                                                                        <article class="card">
                                                                                                            <img src="../assets/team5.jpg" alt="Team Member 5">
                                                                                                        </article>
                                                                                                        <article class="card">
                                                                                                            <img src="../assets/team6.jpg" alt="Team Member 5">
                                                                                                        </article>
                                                                                                        <article class="card">
                                                                                                            <img src="../assets/team8.jpg" alt="Team Member 5">
                                                                                                        </article>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </section>
                                                                                        </div>   
                                                                                        
                                                                                        
<!-- Footer Starts --> 
                                                                                     

<div class="details11container">
    <div class="details11body">
        <div>
            <h1>Services</h1>
            <ul class="contactlist">
                <li>Web Development</li>
                <li>Design</li>
                <li>Website Maintaenance</li>
                <li>Ad Hoc</li>
                <li>Hire Dedicated Resources</li>
                <li>Marketing</li>
                <li>Hosting</li>
                <li>Mobile Application Development</li>
            </ul>
        </div>

        <div>
            <h1>Technologies</h1>
            <ul class="contactlist">
                <li>CMS</li>
                <li>Ecommerce Development</li>
                <li>Custom Development</li>
                <li>Design</li>
                <li>Paid Media</li>
                <li>Mobile Apps</li>
            </ul>
        </div>

        <div>
            <h1>Insights</h1>
            <ul class="contactlist">
                <li>Resources</li>
                <li>FAQ</li>
                <li>Blog</li>
            </ul>
        </div>

        <div>
            <h1>About</h1>
            <ul class="contactlist">
                <li>Who We Are?</li>
                <li>Team</li>
                <li>Join Our Team</li>
                <li>AMI</li>
            </ul>
        </div>

        <div>
            <h1>Quick Links</h1>
            <ul class="contactlist">
                <li>Login Portal</li>
                <li>Gallery</li>
            </ul>
        </div>
    </div>
</div>
<!--  Footer Ends -->

<script src="./main.js"> </script>
<script src="./team.js"> </script>

</body>
</html>